.b-doctor-info {
  .prof {
    font: normal 20px/24px $OS;
  }
  dl {
    overflow: hidden;
    margin: 10px 0;
    font: normal 14px/17px $OS;

    dt {
      clear: both;
      float: left;
      padding-bottom: 5px;
    }
    dd {
      float: left;
      margin: 0 0 0 5px;
      padding-bottom: 5px;
    }
  }
}