.user-block {
  overflow: hidden;

  .img {
    overflow: hidden;
    float: left;
    width: 120px;
    height: 111px;
    border: 1px solid #D9D9D9;
    @include border-radius(2px);
  }
  .info {
    margin-left: 128px;

    .name {
      margin: 0 0 15px;
      font: normal 16px/19px $OS;
    }
    .prof {
      color: #333;
      font: normal 14px/17px $OS;
    }
  }

  + .user-block {
    margin-top: 20px;
  }
}